
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  background-color: #faeb39;
  
  
 }

.landing {

  
  background-image: url("./assets/images/bk-all-pok-body.png") ;
  background-repeat: no-repeat;
  background-size: 115%;
  background-blend-mode: overlay;
  background-position: -170px -141px;

}

a{
  text-decoration: none;
  color: #3e3c3c
}

.contenedor{
  
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,auto);
  grid-template-areas: 
  'header'
  'menu'
  'contenido'
  'footer';
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: header;
  padding: 1.25em;
  background: rgb(246, 235, 18);
  box-shadow: 0px 0px 70px rgba(102, 102,102,0.2);
  background-image: url("./assets/images/YcVQBDc\ \(1\).png") ;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  
}
.header .logo{
  width: 200px;
  margin-bottom: 3.25em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  
}

.logo img {
  -webkit-filter: drop-shadow(0px 5px 5px #222);
  filter: drop-shadow(0px 5px 5px #222);
}
.logo img:hover {
  -webkit-filter: drop-shadow(0px 0px 1px #222);
  filter: drop-shadow(0px 0px 1px #222);

}

.logo h1 {
  font-size: 1.875em;
  
  color: #fff;
  background-image: url("./assets/images/pokemon_logo_PNG9.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 69px;
  width: 200px;
}

.logo .iniciales-logo{
  padding: 0.31em;
  border: 2px solid #000;
  display: inline-block;
  font-size: 1em;
  margin-bottom: 0.93em;
}
.menu{
  height: 42px;
  grid-area: menu;
 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0 10px 0 10px;
  -webkit-filter: drop-shadow(0px 2px 4px #7e771d);
  filter: drop-shadow(0px 2px 4px #7e771d);
}

.menu a{
  padding: 0.625em;
  color: #000;
  display: block;
  text-decoration: none;
 
  text-align: center;
  transition: 0.2s ease all;
  font-size: 1em;
  
}
.menu input {
  padding: 2px 8px;
background-color: white;
border-color: rgb(204,204,204);
border-radius: 4px;
border-style: solid;
border-width: 1px;
cursor: default;
min-height: 28px;
box-sizing: border-box;
outline: 0px !important;
box-shadow: 3px 3px 1px rgb(206 206 209);


}

.button_find{
  padding: 2px 8px;
  margin: 0px 0px 0px 7px;
  height: 27px;
  border-radius: 0.5em;
  border: solid 1px #1C4CBD;
  box-shadow: 2px 2px 1px #1c4cbd;
  background: #a9c0f5;;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 1px;
}

.button_find:active{
  box-shadow: 1px 1px 1px #1C4CBD;
  background: #1C4CBD;
  color: white;
}


.button_newPok{
   /*  font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    border: 1px solid #CE2211;
    border-radius: 0.5em;
    padding: 0.35em 0.3em;
    
    box-shadow: 2px 2px 1px #CE2211;
    background: #e3968f;
    color: #fff;
    box-shadow: 2px 2px 1px #ce2211;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 1px; */

    width: 27px;
    overflow: hidden;
    height: 27px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    border: 1px solid #CE2211;
    border-radius: 16.5em;
    padding:5px 3px 3px 4px;
    box-shadow: 2px 2px 1px #ce2211;
    background: #e3968f;
    color: #fff;
    box-shadow: 2px 2px 1px #ce2211;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 1px;
    transition: width 100ms;

    
}
.button_newPok:hover{
  width: 150px;
  border-radius: 0.5em;
  padding:3px 3px 3px 4px;
}

.button_newPok:active{
  box-shadow: 1px 1px 1px #CE2211;
  background: #CE2211;
  color: white;
}
.fsource{
  display: flex;
    gap: 11px;
}
.fsource span{
  border: solid 1px rgb(139, 138, 138);
  border-radius: 5px;
  padding: 3px 7px;
  display: flex;
    
    align-items: center;
    gap: 5px;
}
.cardPok{
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  width: 230px;
  padding: 20px 20px;
  box-shadow: 5px 5px 1px rgba(94, 89, 20, 0.5); 
  border-radius: 10px;
  background-color: #fff;
  height: 210px;
  
}

.cardPok img{
  display: block;
  height: 95px;
  max-width: 150px;
  position: relative;
  margin: 10px auto;
  transition: transform 300ms;
}
.cardPok img:hover{
  transform: scale(1.08);
}

.namePok{
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}

.typesPok{
  display: flex;
  justify-content: space-around;
  margin: 20px 0 10px 0;
  
  padding: 3px;
  
  font-size: 13px;
  
  font-family: sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px black;
  background: #eee;
  border-radius: 7px;
}

.paginations{
  display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;

}

.page-link {
  position: relative;
  display: block;
  color: #5a5b5c;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  padding: 0.5rem 0.75rem;
  
}

.page-link.act {
  background-color: rgb(228, 66, 66);
  color: white;
}


.bNextPrev{
  color: white;
    background: #CE2211;
    padding: 0px 10px;
    border-radius: 4px;
    font-size: 22px;
    border: solid 1px #f72a17;
}

.bNextPrev:disabled{
    background: #f57b70;
}

.bNextPrev:active{
  background: #80140a;
}


.homeContent{
  max-width: 75em; 
  margin: 1.25em auto;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  min-height: 661px;
  align-content: flex-start;
  height: auto;
  color:#3e3c3c;
  justify-items: center;

}

.list{
  grid-template-columns: auto auto auto;
}
.footer{
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #3a3838;
    text-align: center;
    color: white;
    font-weight: 300;
    min-height: 60px;
}

.paginado{
  gap: 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: #363535;
}

.paginado div {
  margin: auto;
  
  padding: 3px 10px;
    
  
}

.boxSearch{
  margin: 0px;
}

.filters{
  display: flex;
    flex-direction: row;
    grid-gap: 0px;
    gap: 0px;
    
    background: #fff;
    border-radius: 9px;
    width: 730px;
    box-shadow: 4px 4px 1px rgba(94, 89, 20, 0.5);
}

.cardPokDetail{
  animation: fadeInAnimation ease 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  width: 580px;
  padding: 20px 20px;
  box-shadow: 5px 5px 1px rgba(94, 89, 20, 0.5); 
  border-radius: 10px;
  background-color: #fff;
  
  
}

.cardPokDetail img{
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: block;
  height: 220px;
  
  position: relative;
  margin: 10px auto;
}

.moreDate{
  display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 10px;
    text-align: left;
    justify-content: center;
    width: 230px;
    font-weight: 600;
    font-size: 15px;
    border-left: 1px solid #faeb39;
    padding-left: 33px;
}

.heightWeightPok{
  display: flex;
   gap:15px;
   padding:10px 0px;
   border: solid 1px #eee;
   justify-content: center;
    margin-bottom:3px; 
}

.formPok{
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  gap: 10px;
  background-color: white;
  padding: 34px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 5px 5px 1px rgba(94, 89, 20, 0.5); 
}

.formPok input,.formPok select {
  padding: 2px 8px;
  background-color: white;
  border-color: rgb(204,204,204);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  min-height: 38px;
  box-sizing: border-box;
  outline: 0px !important;
}

.formPok button {
  margin-top: 13px;
  height: 24px;
}

.inputErr{
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  border-color: #d31a1a !important;
  box-shadow: 0 0 0 1px #d31a1a !important;

}

.pmsgErr{
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-size: 12px; 
  font-weight: 600;
  color: red;
  text-align: center;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.smsgExito {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border: solid 1px #31a30a;
    padding: 5px;
    border-radius: 5px;
    background-color: #d5ebcd;
    text-align: center;
}
.smsgError {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border: solid 1px red;
    padding: 5px;
    border-radius: 5px;
    background-color: #e47272;
    text-align: center;
    color: white;
}

.features {
  width: 55px;
}

.formPok input:focus {
  border-color: #2684FF;
  box-shadow: 0 0 0 1px #2684FF ;
}

.container-features {
  width: 100%; 
  background-color: #ddd; 
  border-radius: 6px;
}

.featuresGrid{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-items: center;

}
.featuresFlex{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}


.skills {
  text-align: right; 
  padding-top: 1px; 
  padding-bottom: 1px;
  color: white; 
  font-weight: 100;
  text-shadow: 2px 1px 1px black;
  border-radius: 6px 0px 0px 6px;
  padding-right: 6px;
}

.HP { background-color: #04AA6D;}

.statsBar {
  display: grid;
  grid-template-columns: 1fr 2fr;
    align-items: center;
}

.pokemonLoader {
  position: relative;
  height: 60px;
  width: 60px;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50% );
  border-radius: 50%;
  border: 3px solid black;
  animation-name: spin ;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  margin-top: 50px;
}

.pokemonLoader::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 56px;
  background: black;
  top: 26px;
  transform: translatey(-50%);
}

.pokemonLoader::after {
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: white;
  top: 27px;
  left: 27px;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 3px black, inset 0 0 0 7px white, inset 0 0 0 8px black;

}

.loaderInicial{
  animation-name: TranslateAnimation ;
  animation-duration: 555ms;
  animation-iteration-count: 1;
}

@keyframes TranslateAnimation {
  from{
      transform: scale(4) translateY(40px);
  }
  to {
    transform: scale(1) translateY(0px);
  }
}

/* Spin Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
    
   
  }
  to {
    transform: rotate(360deg);
    
    
  }
  
}

/*-------------------*/

.pokeball {
  position: relative;
  width: 200px;
  height: 200px;
  background: #fff;
  border: 10px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -10px 10px 0 10px #ccc;
  animation: fall .25s ease-in-out,
             shake 1.25s cubic-bezier(.36,.07,.19,.97) 3;
}

.pokeball::before,
.pokeball::after {
  content:"";
  position: absolute;
}
.pokeball::before {
  background: red;
  width: 100%;
  height: 50%;
}
.pokeball::after {
  top: calc(50% - 10px);
  width: 100%;
  height: 20px;
  background: #000;
}
.pokeball__button {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background: #7f8c8d;
  border: 10px solid #fff;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 10px black;
  animation: blink .5s alternate 7;
}
.pokeball__button:hover {
  background: #ff0000;
}
/* Animation */
@keyframes blink {
  from { background: #faee5b;}
  to { background: #e74c3c; }
}
@keyframes shake {
  0 { transform: translate(0, 0) rotate(0); }
  20% { transform: translate(-10px, 0) rotate(-20deg); }
  30% { transform: translate(10px, 0) rotate(20deg); }
  50% { transform: translate(-10px, 0) rotate(-10deg); }
  60% { transform: translate(10px, 0) rotate(10deg); }
  100% { transform: translate(0, 0) rotate(0); }
}
@keyframes fall {
  0% { top: -500px }
  60% { top: 0 }
  80% { top: -20px }
  100% { top: 0 }
}

.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.letsGo{
animation: fadeInAnimation ease 2s;
animation-iteration-count: 1;
animation-fill-mode: forwards; 
text-align: center;
font-size: 30px;
margin: 21px 0px;
font-weight: 900;
text-shadow: 2px 2px 2px #766e09;
}

.loader {
	--color: rgb(90, 90, 250);
	--size-mid: 6vmin;
	--size-dot: 1.5vmin;
	--size-bar: 0.4vmin;
	--size-square: 3vmin;
	
	display: block;
	position: relative;
	
	display: grid;
	place-items: center;
}

.loader::before,
.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
}

.loader.--4::before {
	height: var(--size-bar);
	width: 232px;
	background-color: var(--color);
	animation: loader-4 0.8s cubic-bezier(0, 0, 0.03, 0.9) infinite;
}

@keyframes loader-4 {
	0%, 44%, 88.1%, 100% {
		transform-origin: left;
	}
	
	0%, 100%, 88% {
		transform: scaleX(0);
	}
	
	44.1%, 88% {
		transform-origin: right;
	}
	
	33%, 44% {
		transform: scaleX(1);
	}
}

.arrowLeft{

  height: 18px;
  width: 18px;
  display: inline-block;
  background-color: #3e3c3c;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-image: url("./assets/images/arrow-left.svg");
  margin: 0px 12px -3px 0px;
 

}

.arrowRight{

  height: 18px;
  width: 18px;
  display: inline-block;
  background-color: #3e3c3c;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-image: url("./assets/images/arrow-right.svg");
  margin: 0px 0px -3px 12px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}
.arrowLeft:hover, .arrowRight:hover {
  background-color: #070707;
}
