*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  background-color: #faeb39;
  
}

a{
  text-decoration: none;
}

.contenedor{
  width: 80%;
  max-width: 75em;
  margin: 1.25em auto;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,auto);
  grid-template-areas: 
  'header'
  'menu'
  'contenido'
  'footer';

}
.header{
  grid-area: header;
  padding: 1.25em;
  background: rgb(246, 235, 18);
  box-shadow: 0px 0px 70px rgba(102, 102,102,0.2);
  background-image: url("./assets/images/YcVQBDc\ \(1\).png") ;
  background-size: cover;
  background-position-y: bottom;
  
}
.header .logo{
  margin-bottom: 1.25em;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 3px;
  
}

.logo h1 {
  font-size: 1.875em;
  
  color: #fff;
  background-image: url("./assets/images/pokemon_logo_PNG9.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 69px;
  width: 200px;
}

.logo .iniciales-logo{
  padding: 0.31em;
  border: 2px solid #000;
  display: inline-block;
  font-size: 1em;
  margin-bottom: 0.93em;
}
.menu{
  grid-area: menu;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 10px 0 10px;
}

.menu a{
  padding: 0.625em;
  color: #000;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  transition: 0.2s ease all;
  font-size: 1em;
  
}

.cardPok{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  width: 230px;
  padding: 20px 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15); 
  border-radius: 10px;
  background-color: #fff;
}

.cardPok img{
  display: block;
 
  max-width: 150px;
  position: relative;
  margin: 10px auto;
}

.namePok{
  text-align: center;
  font-weight: 600;
}

.typesPok{
  display: flex;
  justify-content: space-around;
  margin: 20px 0 10px 0;
}

.homeContent{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  
  justify-content: space-evenly;
}