*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  background-color: #faeb39;
  
}

a{
  text-decoration: none;
  color: darkslategrey
}

.contenedor{
  /* width: 80%; */
  /* max-width: 75em; */
  /* margin: 1.25em auto; */
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,auto);
  grid-template-areas: 
  'header'
  'menu'
  'contenido'
  'footer';

  

}
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: header;
  padding: 1.25em;
  background: rgb(246, 235, 18);
  box-shadow: 0px 0px 70px rgba(102, 102,102,0.2);
  background-image: url("./assets/images/YcVQBDc\ \(1\).png") ;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  
}
.header .logo{
  width: 200px;
  margin-bottom: 5.25em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  
}

.logo img {
  -webkit-filter: drop-shadow(0px 5px 5px #222);
  filter: drop-shadow(0px 5px 5px #222);
}
.logo img:hover {
  -webkit-filter: drop-shadow(0px 0px 1px #222);
  filter: drop-shadow(0px 0px 1px #222);

}

.logo h1 {
  font-size: 1.875em;
  
  color: #fff;
  background-image: url("./assets/images/pokemon_logo_PNG9.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 69px;
  width: 200px;
}

.logo .iniciales-logo{
  padding: 0.31em;
  border: 2px solid #000;
  display: inline-block;
  font-size: 1em;
  margin-bottom: 0.93em;
}
.menu{
  height: 42px;
  grid-area: menu;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0 10px 0 10px;
  -webkit-filter: drop-shadow(0px 2px 4px #7e771d);
  filter: drop-shadow(0px 2px 4px #7e771d);
}

.menu a{
  padding: 0.625em;
  color: #000;
  display: block;
  text-decoration: none;
 
  text-align: center;
  transition: 0.2s ease all;
  font-size: 1em;
  
}

.cardPok{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  width: 230px;
  padding: 20px 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15); 
  border-radius: 10px;
  background-color: #fff;
  height: 210px;
}

.cardPok img{
  display: block;
  height: 90px;
  max-width: 150px;
  position: relative;
  margin: 10px auto;
}
.cardPok img:hover{
  height: 95px;
}

.namePok{
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}

.typesPok{
  display: flex;
  justify-content: space-around;
  margin: 20px 0 10px 0;
}

.homeContent{
  max-width: 75em; 
  margin: 1.25em auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  min-height: 641px;
  align-content: flex-start;

}
.footer{
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #3a3838;
    text-align: center;
    color: white;
    font-weight: 300;
    min-height: 60px;
}

.paginado{

  margin-top: 15px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.paginado div {
  margin: auto;
  padding: 10px;
}

.boxSearch{
  margin: 0px;
}

.filters{
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.cardPokDetail{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  width: 500px;
  padding: 20px 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15); 
  border-radius: 10px;
  background-color: #fff;
  
}

.cardPokDetail img{
  display: block;
  height: 220px;
  
  position: relative;
  margin: 10px auto;
}

.moreDate{
  display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px auto;
    text-align: left;
    justify-content: center;
}

.formPok{
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  gap: 10px;
  background-color: white;
  padding: 34px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15); 
}